WCF/코드라이브러리/Cal2/BasicWCF_0508/Connected Services/ServiceReference1/cal2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://RuAAService.co.kr/Product" elementFormDefault="qualified" targetNamespace="http://RuAAService.co.kr/Product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element name="Value" type="xs:double" />
      <xs:element name="CreateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
</xs:schema>