WCF/AccountManager_0508 -Behavior/BasicWCF_0508/Connected Services/ServiceReference2/Bank2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://RuAAService.co.kr/Product" elementFormDefault="qualified" targetNamespace="http://RuAAService.co.kr/Product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountInfo">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element name="Balance" type="xs:int" />
      <xs:element name="AccountName" nillable="true" type="xs:string" />
      <xs:element name="AccountDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInfo" nillable="true" type="tns:AccountInfo" />
</xs:schema>