WCF/AccountManager_0508 -Behavior/BasicWCF_0508/Connected Services/ServiceReference2/Bank.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Bank" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.33/wcf/example/Bank?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.33/wcf/example/Bank?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.33/wcf/example/Bank?xsd=xsd2" namespace="http://RuAAService.co.kr/Product" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBank_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IBank_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_AddMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMoney" />
  </wsdl:message>
  <wsdl:message name="IBank_AddMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_MinMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:MinMoney" />
  </wsdl:message>
  <wsdl:message name="IBank_MinMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:MinMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="IBank">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank/GetProduct" message="tns:IBank_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank/GetProductResponse" message="tns:IBank_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank/AddMoney" message="tns:IBank_AddMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank/AddMoneyResponse" message="tns:IBank_AddMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MinMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank/MinMoney" message="tns:IBank_MinMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank/MinMoneyResponse" message="tns:IBank_MinMoney_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBank" type="tns:IBank">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IBank/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMoney">
      <soap:operation soapAction="http://tempuri.org/IBank/AddMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MinMoney">
      <soap:operation soapAction="http://tempuri.org/IBank/MinMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bank">
    <wsdl:port name="BasicHttpBinding_IBank" binding="tns:BasicHttpBinding_IBank">
      <soap:address location="http://192.168.0.33/wcf/example/Bank" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>