WCF/AccountManager_0508 -Behavior/BasicWCF_0508/Connected Services/ServiceReference2/Bank1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.33/wcf/example/Bank?xsd=xsd2" namespace="http://RuAAService.co.kr/Product" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://RuAAService.co.kr/Product" minOccurs="0" name="GetProductResult" nillable="true" type="q1:AccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://RuAAService.co.kr/Product" minOccurs="0" name="_account" nillable="true" type="q2:AccountInfo" />
        <xs:element minOccurs="0" name="_money" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMoneyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MinMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://RuAAService.co.kr/Product" minOccurs="0" name="_account" nillable="true" type="q3:AccountInfo" />
        <xs:element minOccurs="0" name="_money" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MinMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MinMoneyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>