WCF/AccountManager_0509_DBAdd/BasicWCF_0508/Connected Services/ServiceReference2/Bank2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://RuAAService.co.kr/Product" elementFormDefault="qualified" targetNamespace="http://RuAAService.co.kr/Product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountInfo">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element name="Balance" type="xs:int" />
      <xs:element name="AccountName" nillable="true" type="xs:string" />
      <xs:element name="AccountDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInfo" nillable="true" type="tns:AccountInfo" />
  <xs:complexType name="ArrayOfAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountInfo" nillable="true" type="tns:AccountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountInfo" nillable="true" type="tns:ArrayOfAccountInfo" />
  <xs:complexType name="ArrayOfAccountList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountList" nillable="true" type="tns:AccountList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountList" nillable="true" type="tns:ArrayOfAccountList" />
  <xs:complexType name="AccountList">
    <xs:sequence>
      <xs:element name="AccListID" type="xs:int" />
      <xs:element name="AccID" type="xs:int" />
      <xs:element name="InputMoney" type="xs:int" />
      <xs:element name="OutputMoney" type="xs:int" />
      <xs:element name="Balance" type="xs:int" />
      <xs:element name="Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountList" nillable="true" type="tns:AccountList" />
</xs:schema>