WCF/AccountManager_0509_DBAdd/BasicWCF_0508/Connected Services/ServiceReference2/Bank1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.33/wcf/example/Bank?xsd=xsd2" namespace="http://RuAAService.co.kr/Product" />
  <xs:element name="ConnectDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://RuAAService.co.kr/Product" minOccurs="0" name="_account" nillable="true" type="q1:AccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_money" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputMoneyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_money" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutputMoneyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://RuAAService.co.kr/Product" minOccurs="0" name="SelectAccountResult" nillable="true" type="q2:AccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://RuAAService.co.kr/Product" minOccurs="0" name="SelectAllAccountResult" nillable="true" type="q3:ArrayOfAccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllAccount1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllAccount1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllAccount1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://RuAAService.co.kr/Product" minOccurs="0" name="SelectAccountListResult" nillable="true" type="q4:ArrayOfAccountList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccountList1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccountList1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAccountList1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>